/*  */
.layout_wrapper {
  height: 100%;
}

.navbar-wrap {
  padding: 1.2rem 1.5rem;
  text-align: left;
  background-color: #266876;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand_wrap {
  display: flex;
  align-items: center;
}
.icon-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #fff;
}
/* Main Area */
.main_area {
  height: 100%;
  padding: 1rem;
}

/* Sidebar */
.sidebar_wrap {
  height: var(--full-100);
  background-color: var(--dark-color);
  width: 300px;
  padding: 1rem;
}

/* Main Content */
.main_content {
  height: 100%;
  /* width: calc(100% - 300px);
  padding: 1rem; */
}
.main_content h1 {
  font-size: 1.8rem;
  margin-block: 0 12px;
}
.tasks-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.day-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.weekday {
  padding: 4px 18px 2px;
  border-radius: 15px;
  border: 2px solid #3690a3;
  background: transparent;
  color: #3690a3;
  cursor: pointer;
  transition: 0.8s all ease;
  font-weight: 600;
}
.weekday.active,
.weekday:hover {
  background: #266876;
  color: #e1c13f;
  border-color: #266876;
}
.mobile-day {
  display: none;
}

@media (max-width: 768px) {
  .brand_wrap {
    width: 170px;
  }
  .logo_cls {
    width: var(--full-100);
  }

  .desktop-day {
    display: none;
  }
  .mobile-day {
    display: block;
  }
  .weekday {
    width: 40px;
    height: 40px;
    min-width: 40px;
    font-size: 0.938rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
}
