.task-form {
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.task-form .MuiFormControlLabel-root{
    color: var(--label-color);
}
.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary {
    color: var(--theme-green-color);
}