.dashboard {
    width: var(--full-100);
    height: var(--full-100);
}
.MuiDialog-root.task_modal .MuiPaper-root.MuiDialog-paper{
    max-width: 500px;
}
.MuiDialog-root.task_modal .MuiTypography-root.MuiDialogTitle-root{
    padding-block: 12px;
    border-bottom: 1px solid #d6d6d6
}