.dashboard {
  width: var(--full-100);
}
.task_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  background: var(--overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  max-width: 500px;
  min-width: 500px;
  background-color: var(--surface);
}
.modal-title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid var(--border);
}
.modal-title-block h2 {
  margin: 0;
  color: var(--text-secondary);
  font-weight: 600;
}
.modal-close {
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0;
  font-size: 22px;
  color: var(--text-secondary);
}
.modal-body-contain {
  padding: 20px;
}

/* AuthPage */
.auth-page {
  width: 23%;
  height: var(--full-100);
  display: flex;
  align-items: center;
  justify-self: center;
}
.auth-content {
  width: var(--full-100);
  border-radius: 3px;
  padding: 2rem;
  /* background-color: #162038; */
  background-color: var(--surface);
  box-shadow: 0 0 20px var(--auth-shadow);
}
.auth-form {
  width: var(--full-100);
  padding: 6rem 4rem;
  background-color: #313131;
  border-radius: 5px;
}
.auth-form h2 {
  color: var(--text-color);
}
form label {
  display: block;
  margin-bottom: 3px;
  color: var(--text-secondary);
}
.auth-butn {
  width: var(--full-100);
  padding: 9px 12px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.938rem;
  margin-top: 15px;
}
.auth-botom-text {
  color: var(--text);
  text-align: center;
  font-size: 14px;
}
.auth-botom-text a {
  color: var(--accent);
  font-weight: 500;
}
.auth-content h2 {
  margin-top: 0;
}
@media screen and (max-width: 1100px) {
  .auth-page {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .task_modal .MuiPaper-root.MuiDialog-paper {
    max-width: 95%;
    min-width: 95%;
  }
  .task_modal .MuiDialogContent-root {
    padding-inline: 20px;
  }
  .auth-page {
    width: var(--full-100);
    padding-inline: 2rem;
    box-sizing: border-box;
  }
  .auth-content {
    width: var(--full-100);
    border-radius: 3px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
