.card {
  width: 320px;
  /* background-color: var(--dark-color); */
  border-radius: 12px;
  padding: 16px;
  transition: transform 0.2s ease;
  position: relative;
  background-color: var(--card-bg);
  color: var(--text-color);
  box-shadow: var(--card-shadow);
}

.card:hover {
  transform: translateY(-4px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-category {
  background-color: #e3f2fd;
  color: #1976d2;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 500;
}

.card-actions {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.card-title-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-title {
  font-size: 18px;
  margin: 0;
}

.card-description {
  margin-top: 8px;
  font-size: 14px;
  color: var(--label-color);
  /*---*/
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.action-icon {
  cursor: pointer;
  margin-left: 8px;
  transition: transform 0.2s ease;
  color: var(--label-color);
  background-color: transparent;
  box-shadow: none;
  border: 0;
}

.action-icon:hover {
  transform: scale(1.2);
}
.card-footer {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--card-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 5px;
  margin-block: 0;
}
.card-footer p {
  margin: 0;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.task-status {
  margin: 0;
}
.create-time {
  font-size: 0.75rem;
  color: #858585;
  margin: 0;
}

.MuiDialogTitle-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card.Mui-disabled::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #a2ffca45;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 12px;
}

/*  */
.form-field {
  width: 100%;
  margin-bottom: 9px;
}
.input-cls {
  min-width: stretch;
  padding: 9px 12px;
  border-radius: 3px;
  border: 1px solid #eee;
}
