:root {
  --full-100: 100%;
  /* --theme-green-color : #267669; */
  --theme-green-color: #267671;
  --theme-yellow-color: #e1c13f;

  --dark-bg: #242424;
  --light-text: #ffffffde;
  --dark-color: #313131;

  /* --text-- */
  --card-text-color: #8f8f8f;
  --action-icon-color: #787878;
  --label-color: #666;

  height: var(--full-100);
  background-color: var(--dark-bg);
  color: var(--light-text);
}

#root {
  box-sizing: border-box;
  margin: 0 auto;
  height: var(--full-100);
}
body {
  margin: 0;
  width: var(--full-100);
  height: var(--full-100);
}
.MuiButtonBase-root.MuiButton-colorPrimary {
  background: #e1c13f;
  color: #266876;
  padding-block: 7px;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  /* box-shadow: none; */
  width: 100%;
}
